@media print {
  /* FONTS */
  @font-face {
    font-family: OpenSansLight;
    src: url('../fonts/OpenSans-Light.ttf');
  }
  @font-face {
    font-family: OpenSansBold;
    src: url('../fonts/OpenSans-Bold.ttf');
  }
  @font-face {
    font-family: OpenSansSemiBold;
    src: url('../fonts/OpenSans-Semibold.ttf');
  }
  @font-face {
    font-family: OpenSansRegular;
    src: url('../fonts/OpenSans-Regular-webfont.ttf');
  }
  strong,
  b {
    font-family: OpenSansBold;
    font-weight: normal;
  }
  body {
    font-family: OpenSansRegular, Verdana, Arial;
    font-size: 12pt;
    line-height: 1.6;
    font-weight: normal;
  }
  .documentDescription {
    font-family: OpenSansRegular, Verdana, Arial !important;
    font-size: 140%;
    line-height: 1.6;
    font-weight: normal;
    margin-bottom: 20px;
  }
  h3 {
    font-family: OpenSansSemiBold, Verdana, Arial !important;
    font-size: 120%;
    line-height: 1.5;
  }
  h2 {
    font-family: OpenSansBold, Verdana, Arial !important;
    font-size: 120%;
    line-height: 1.5;
  }
  h1 {
    font-family: OpenSansLight, Verdana, Arial !important;
    font-size: 160%;
    line-height: 1.3;
    font-weight: normal;
    margin-bottom: 15px;
  }
  h1.documentFirstHeading {
    font-family: OpenSansRegular, Verdana, Arial !important;
    font-size: 220%;
    line-height: 1.3;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  /* BILDER */
  img.left {
    float: left;
    margin-right: 12px;
  }
  div.imgCaption {
    font-size: smaller;
    margin: 5px 5px 5px 5px;
  }
  /* SPECIAL FORMAT */
  div#header-logo {
    margin-bottom: 40px;
  }
  h1,
  h2,
  h3 {
    page-break-after: avoid;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .clearfix {
    clear: both;
  }
  /* EXCLUDES */
  form,
  .navleft,
  .breadcrumb,
  .footer-wrapper,
  .pagination,
  #site-action,
  #social-buttons,
  #comments-count,
  #similar-entries,
  #print-view,
  #pdf-view {
    display: none;
  }
  .visible-print {
    display: block !important;
  }
  .hidden-print {
    display: none !important;
  }
}
